.navbar {
    /* margin-top: -35px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    /* background-color: antiquewhite; */
    vertical-align: middle;
    align-items: center;
    padding: 0px 0px 0px 0px;
}

.navbar .left {
    /* background-color: turquoise; */
    margin-left:10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
}

.navbar .left .title {
    margin-top: -0px;
    background:none;
    border: none;
}

.navbar .left .title h1 {
    font-size: 42px;
}

.navbar .right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: aqua;
    padding-top: 5px;
    margin-right: 10px;
}

.navbar .right .profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-left: 10px;
}

.profile {
    /* background-color: aqua; */
}

.dropdown {
    position: absolute;
    margin-top: 10px;
    right: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    top: 75px;
    width: 100px;
    display: flex;
    justify-content: center;
    display: none;
}


.dropdown ul {
    text-decoration: none;
    list-style:none;
}

.dropdown ul li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dropdown ul li a {
    text-decoration: none;
    list-style:none;
    color: black;
    font-size: 21px;
    /* background-color: aqua; */
}

.dropdown ul li :hover {
    color: #28a745;
}