body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(244, 242, 238);
}

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    background-color: white;
    vertical-align: middle;
    align-items: center;
    padding: 0px 0px 0px 0px;
    position: fixed;
    width: 100%;
    z-index: 1;
    margin-top: -100px;
}

.navbar .left {
    /* background-color: turquoise; */
    margin-left:5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
}

.navbar .left .title {
    margin-top: -0px;
    background:none;
    border: none;
}

.navbar .left .title h1 {
    font-size: 38px;
}

.navbar .right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    /* background-color: aqua; */
    padding-top: 5px;
    margin-right: 5px;
}

.navbar .right .profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-left: 10px;
}

.profile {
    /* background-color: aqua; */
}

.dropdown {
    position: absolute;
    margin-top: 10px;
    right: 2px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    top: 60px;
    width: 100px;
    display: flex;
    justify-content: center;
    display: none;
}


.dropdown ul {
    text-decoration: none;
    list-style:none;
}

.dropdown ul li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dropdown ul li a {
    text-decoration: none;
    list-style:none;
    color: black;
    font-size: 21px;
    /* background-color: aqua; */
}

.dropdown ul li :hover {
    color: #28a745;
}

.contentPane {
    background-color: rgb(244, 242, 238);
    height: max-content;
    margin-top: 100px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: scroll;
}

.contentPane .post {
    background-color: white;
    width: 95%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.contentPane .post .postedBy {
    text-align: left;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
}

.contentPane .post .postedBy img {
    height: 40px;
    width: 40px;
    border-radius: 360px;
}

.contentPane .post .imageContainer {
    width: 100%;
    height: 500px;
    /* background-color: aqua; */
    border-radius: 0px 0px 5px 5px;
}

.contentPane .post .imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contentPane .post .captionContainer {
    text-align: left;
    padding: 5px;
    font-size: 18px;
    margin-left: 5px;
    background-color: white;
}

.contentPane .post .optionContainer {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
}

.contentPane .post .optionContainer .likeContainer {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 2.5px;
}

.contentPane .post .optionContainer .commentContainer {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 2.5px;
}

.contentPane .post .optionContainer button {
    background: none;
    border: none;
    cursor: pointer;
}

.contentPane .post .optionContainer button i {
    font-size: 21px;
}

@media screen and (min-width: 1020px) {
    .contentPane .post {
        width: 60%;
    }
}